<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApplication1.Properties.Settings.POConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PO.accdb;Persist Security Info=True" providerName="System.Data.OleDb" />
    <add name="mongodb_vecrops.salesms" connectionString="mongodb://localtest:27017" />
    <add name="mongodb_vecrops.salesms" connectionString="mongodb://10.100.70.21" />
    <!--<add name="mongodb_vecrops.salesms" connectionString="server=10.100.70.21;database=salesms_uat;username=user_1;password=VinEco#123" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>